body{
    min-height: 100vh;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(0, 0%, 94%);
    font-family: "Poppins";
}
main{
    background-color: #fff;
    padding: 3rem 1.5rem;
    border-radius: 1rem 1rem 7rem;
    -webkit-border-radius: 1rem 1rem 7rem;
    -moz-border-radius: 1rem 1rem 7rem;
    -ms-border-radius: 1rem 1rem 7rem;
    -o-border-radius: 1rem 1rem 7rem;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
form .labels{
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    gap: 20px;
}
label{
    color: hsl(0, 1%, 44%);
    font-weight: 700;
    font-size: 0.75em;
    letter-spacing: 3px;
}
input{
    width: 100%;
    height: 3rem;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid hsl(0, 0%, 86%);
    font-weight: 700;
    font-size: 1.5em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.line{
    position: absolute;
    display: block;
    height: 1px;
    width: 100%;
    background-color: hsl(0, 0%, 86%);
    bottom: 25px;
}
button{
    z-index: 1;
    width: 50px;
    aspect-ratio: 1/1;
    background: hsl(259, 100%, 65%) url("../assets/images/icon-arrow.svg");
    background-position: center;
    background-size: 45%;
    background-repeat: no-repeat;
    border: none;
    border-radius: 100px;

    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.results p{
    margin: 0;
    font-size: 50px;
    font-weight: 800;
}
.results p span{
    color: hsl(259, 100%, 65%);
}





.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }